[Unit]
Description = "Tiny container manager"

[Service]
Type=simple
Restart=always
WorkingDirectory=/root/tiny-container-manager
ExecStart=/root/tiny-container-manager/deployment/run.sh

[Install]
WantedBy=multi-user.target
